.blue {
	color: blue;
}

th {
	text-align: center;
}

td {
	min-width: 75px;
}

td {
	border: 1px solid grey;
}

table {
	border-collapse: collapse;
}

body {
	padding-left: 10px;
	padding-top: 10px;
}

.delete_word {
	display: inline-block;
	cursor: default;
	padding: 0 3px;
}

.delete_word:hover {
	color: #dc322f;
}
