<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!-- <link rel="icon" href="favicon.ico"> -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/solarized.css">
	<link rel="stylesheet" href="css/style.css">

	<script src="js/global_snippet.js" defer></script>
	<script src="js/vue.js" defer></script>
	<script src="js/data.js" defer></script>
	<script src="js/translit_map.js" defer></script>
	<script src="js/main.js" defer></script>
	<title>Open coder</title>
</head>
<body>

	<div class="vue">

		<textarea cols="30" rows="10" v-model="raw_input"></textarea>
		<textarea cols="30" rows="10" v-model="dic_template"></textarea>
		<button @click="read_data">Read</button>
		<button @click="read_dic">Read dic</button>
		<button @click="gen_dic">Generate dictinary</button>
		<button @click="copy_to_clipboard">Copy to clipboard</button>
		<textarea cols="30" rows="10" v-model="raw_output"></textarea>

		<br>
		<div v-if="text_list.length > 0">TRS% <input type="number" v-model="autorec_trs" style="width: 3em;"> ({{ (autorec_trs / text_list.length * 100).toFixed(1) }} %) </div>
		<br>
		<span>Count: {{ text_list.length }}, done: {{ done_cnt }} ({{ done_pct }}%)</span>
		<br>
		<span>Unique entries: {{ work_list.length }}, done: {{ wl_done_cnt }} ({{ wl_done_pct }}%)</span>
		<br>
		<br>
		<div>
			Autofill TRS% <input type="number" v-model="autofill_trs" style="width: 3em;">%
			<button @click="autofill_entry" :disabled="dic_index === null">Autofill entry</button>
			<button @click="autofill_all">Autofill all</button>
			<button @click="clear_selection">Clear selection</button>
		</div>
		<br>
		<br>

		<div style="display: inline-block;">
			<table>
				<thead>
					<tr>
						<th @click="order_work_list_string">String</th>
						<th @click="order_work_list">Count</th>
						<th>Similarity</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(item, index) in work_list" :key="index" v-if="item.dic_value === undefined">
						<td style="max-width: 500px;">{{ item.string }}</td>
						<td>{{ item.count }}</td>
						<td>{{ item.similarity }}%</td>
						<td>
							<button @click="confirm(index)">✔️</button>
							<button @click="add_to_dic(index)">➕</button>
							<button @click="similar_to_this(index)">🔎</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div style="display: inline-block; vertical-align: top;">
			<table>
				<thead>
					<tr>
						<th @click="order_dic_list">Code</th>
						<th>Display name</th>
						<th>Count</th>
						<th>Action</th>
						<th>Words</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(item, index) in dic" :key="index" :style="{border: index === dic_index ? '2px solid #d33682' : ''}">
						<td><input type="number" v-model="item.code" style="width: 3em;"></td>
						<td><input type="text" v-model="item.display_name"></td>
						<td>{{ item.count }}</td>
						<td>
							<button v-if="selected_entry !== null" @click="add_here(index)">Add here</button>
							<button v-if="selected_entry === null" @click="work_with(index)">Work with</button>
							<button @click="remove_key(index)">❌</button>
						</td>
						<td style="max-width: 500px;">
							<span class="delete_word" v-for="(word, windex) in item.words" :key="windex" @click="delete_word(index, windex)">{{ word }}</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</body>
</html>
